.recipe-card {
    background-color: rgb(116, 234, 245);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .recipe-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .recipe-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  